/* style.css */
#start-stop-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
}

#canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  background-color: white;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

#close-btn {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-banner {
  height: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-banner #close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
